<% content_for(:title, t('view.btn_update')) %>
<%= render 'profile_head' %>
<%= render 'navs' %>
<%= form_with(model: @profile, local: true) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= @profile.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <dl>
      <dt><%= f.label :'age', t('view.profile_age') %></dt>
      <dd><%= f.text_field :age, placeholder: '年齢を入力してください' %> 歳</dd>
      <dt><%= f.label :'area', t('view.profile_area') %></dt>
      <dd><%= f.select :area, Profile.areas_i18n.keys.map {|k| [Profile.areas_i18n[k], k]} %></dd>
      <dt><%= f.label :'image', t('view.profile_image') %></dt>
      <dd><%= f.file_field :image %></dd>
      <dt><%= f.label :'working_company', t('view.profile_working_company') %></dt>
      <dd><%= f.text_field :working_company, placeholder: '例)カンパニージャパン株式会社' %></dd>
      <dt><%= f.label :'length_worked', t('view.profile_length_worked') %></dt>
      <dd><%= f.select :length_worked, Profile.length_workeds_i18n.keys.map {|k| [Profile.length_workeds_i18n[k], k]} %></dd>
      <dt><%= f.label :'occupation', t('view.profile_occupation') %></dt>
      <dd><%= f.select :occupation, Profile.occupations_i18n.keys.map {|k| [Profile.occupations_i18n[k], k]} %></dd>
      <dt><%= f.label :'industry', t('view.profile_industry') %></dt>
      <dd><%= f.select :industry, Profile.industries_i18n.keys.map {|k| [Profile.industries_i18n[k], k]} %></dd>
      <dt><%= f.label :'previous_company', t('view.profile_previous_company') %></dt>
      <dd><%= f.text_field :previous_company, placeholder: '例)ジャパンテクノロジー株式会社' %></dd>
      <dt><%= f.label :'address', t('view.profile_address') %></dt>
      <dd><%= f.text_field :address %></dd>
      <dd><%= f.submit %></dd>
    </dl>
  </div>
<% end %>