<h1><%= @profile.user.name %> さんのプロフィール</h1>

<div>
  <%= image_tag @profile.image.url %>
  <p><%= @profile.user.name %> さん</p>
</div>

<%= render 'navs' %>

<dl>
  <dt><%= t('view.profile_age') %></dt>
  <dd><%= @profile.age %> 歳</dd>
  <dt><%= t('view.profile_area') %></dt>
  <dd><%= @profile.area_i18n %></dd>
  <dt><%= t('view.profile_working_company') %></dt>
  <dd><%= @profile.working_company %></dd>
  <dt><%= t('view.profile_length_worked') %></dt>
  <dd><%= @profile.length_worked_i18n %></dd>
  <dt><%= t('view.profile_occupation') %></dt>
  <dd><%= @profile.occupation_i18n %></dd>
  <dt><%= t('view.profile_industry') %></dt>
  <dd><%= @profile.industry_i18n %></dd>
  <dt><%= t('view.profile_previous_company') %></dt>
  <dd><%= @profile.previous_company %></dd>
  <dt><%= t('view.profile_address') %></dt>
  <dd><%= @profile.address %></dd>
</dl>