<h1></h1>
  <%= @profile.age %>
  <%= @profile.area %>
  <%= image_tag @profile.image.url %>
  <%= @profile.working_company %>
  <%= @profile.length_worked %>
  <%= @profile.occupation %>
  <%= @profile.industry %>
  <%= @profile.previous_company %>
  <%= @profile.address %>