<h1></h1>

<div>
  <%= image_tag @profile.image.url %>
  <p><%= @profile.user.name %> さんのプロフィール</p>
</div>
<dl>
  <dt><%= t('view.profile_age') %></dt>
  <dd><%= @profile.age %> 歳</dd>
  <dt><%= t('view.profile_area') %></dt>
  <dd><%= @profile.area %></dd>
  <dt><%= t('view.profile_working_company') %></dt>
  <dd><%= @profile.working_company %></dd>
  <dt><%= t('view.profile_length_worked') %></dt>
  <dd><%= @profile.length_worked %></dd>
  <dt><%= t('view.profile_occupation') %></dt>
  <dd><%= @profile.occupation %></dd>
  <dt><%= t('view.profile_industry') %></dt>
  <dd><%= @profile.industry %></dd>
  <dt><%= t('view.profile_previous_company') %></dt>
  <dd><%= @profile.previous_company %></dd>
  <dt><%= t('view.profile_address') %></dt>
  <dd><%= @profile.address %></dd>
</dl>

<ul class="back_links">
  <li><%= link_to t('view.btn_update'), edit_profile_path(@profile.id) %></li>
</ul>