<h1></h1>

<div>
  <%= image_tag @profile.image.url %>
  <p><%= @profile.user.name %> さんのプロフィール</p>
</div>
<dl>
  <dd><%= @profile.age %> 歳</dd>
  <dd><%= @profile.area %></dd>
  <dd><%= @profile.working_company %></dd>
  <dd><%= @profile.length_worked %></dd>
  <dd><%= @profile.occupation %></dd>
  <dd><%= @profile.industry %></dd>
  <dd><%= @profile.previous_company %></dd>
  <dd><%= @profile.address %></dd>
</dl>