<% content_for(:title, '相談一覧') %>
<%= render 'profile_head' %>
<%= render 'navs' %>

<div class="comment_talk_box">
<% @profile.user.talks.each do |t| %>
  <div class="comment_talk">
    <%= link_to talk_path(t.id) do %>
      <p><%= t.title %></p>
    <% end %>
    <p><%= t.created_at.strftime("%Y年%m月%d日 %H時%M分") %></p>
  </div>
<% end %>
</div>