<%= form_with(model: @talk, local:true, url: choose_new_or_edit) do |f| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= @talk.errors.count %><%= t('view.errors_count') %></h2>
      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <dl>
      <dt><%= f.label :'title', t('view.talk_title') %></dt>
      <dd class="text_field"><%= f.text_field :title, placeholder: t('view.talk_title_placeholder') %></dd>
      <dt><%= f.label :'content', t('view.talk_content') %></dt>
      <dd class="text_field"><%= f.text_field :content, placeholder: t('view.talk_content_placeholder') %></dd>
      <dt><%= f.label :'name', t('view.category_name') %></dt>
      <dd class="select_field">
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name, include_hidden: false) do |i| %>
          <%= i.label do %>
            <%= i.check_box %>
            <%= i.text %>
          <% end %>
        <% end %>
      </dd>
    <% if action_name == 'new'%>
      <dd class="btn_submit"><%= f.submit t('view.btn_confirm') %></dd>
    <% elsif action_name == 'edit' %>
      <dd class="btn_submit"><%= f.submit t('view.btn_update') %></dd>
    <% else %>
      <dd class="btn_submit"><%= f.submit t('view.btn_confirm') %></dd>
    <% end %>
    </dl>
  </div>
<% end %>