<h1><%= t('view.talk_edit_h1') %></h1>

<%= form_with(model: @talk, local:true) do |f| %>
<%= render 'form', f: f %>
      <dd><%= f.submit t('view.btn_update') %></dd>
    </dl>
  </div>
<% end %>

<ul>
  <li><%= link_to t('view.btn_back_index'), talks_path, class: 'submit' %></li>
</ul>