<h1><%= t('view.talk_index_h1') %></h1>

<%= render 'search' %>

<div>

  <div class="box">
    <h2><%= t('view.talk_index_h2_category') %></h2>
    <% @categories.each do |i| %>
      <ul>
        <li><%= link_to i.name, talks_path %></li>
      </ul>
    <% end %>
  </div>

  <div class="box">
    <h2><%= t('view.talk_index_h2_new') %></h2>
  <% @search_talks.each do |talk| %>
    <div class="talk_box">
      <div class="talk_box_header">
        <p>
          <%= link_to profile_path(talk.user.profile.id) do %>
            <%= image_tag talk.user.profile.image.url %>
            <%= talk.user.name %> さん
          <% end %>
        </p>
        <ul>
          <li><span><%= talk.comments.size %></span>コメント</p></li>
          <li><%= talk.created_at.strftime("%Y年%m月%d日") %></li>
          <!--いいね-->
          <li>
            <div id="likes_buttons_<%= talk.id %>">
            <%= render partial: 'likes/like', locals: { talk: talk, likes: @likes} %>
            </div>
          </li>
          <!--いいね-->
        </ul>
      </div>
      <p class="taild_box_title">
      <%= link_to talk_path(talk.id) do %>
        <%= talk.title %>
      <% end %>
      </p>
      <p class="taild_box_content"><%= talk.content %></p>
    </div>
  <% end %>
  </div>

</div>