<% content_for(:title, @talk.title) %>
<div class="talk_box_show">
<%= notice %>
  <% if @talk.complete.present? %>
    <p>この相談は解決済みとなり、コメントを締め切りました。</p>
  <% end %>
  
  <!-- お気に入り begin -->
  <% if current_user.present? %> <!-- リファクタ対象 -->
    <% unless @talk.user_id == current_user.id %>
      <% if @like.present? %>
        <%= link_to 'お気に入り解除する', like_path(id: @like.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りする', likes_path(talk_id: @talk.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  <% end %>
  <!-- お気に入り end -->

  <!-- メニュー begin -->
  <% if current_user.present? %> <!-- リファクタ対象 -->
    <% if current_user.id == @talk.user_id %>
      <ul class="talk_utility">
        <li>投稿者メニュー</li>
        <li><%= link_to t('view.talk_btn_edit'), edit_talk_path(@talk.id) %></li>
        <% if @talk.complete.present? %>
          <li><%= link_to t('view.talk_complete_false'), talk_path(@talk, params: { talk: { complete: false} }), method: :put %></li>
        <% else %>
          <li><%= link_to t('view.talk_complete_true'), talk_path(@talk, params: { talk: { complete: true} }), method: :put %></li>
        <% end %>
        <li><%= link_to t('view.btn_delete'), talk_path(@talk.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></li>
      </ul>
    <% end %>
  <% end %>
  <!-- メニュー end -->

  <div class="talk_box_header">
    <p class="talk_title"><%= @talk.title %></p>
    <ul>
      <li>
        <%= link_to profile_path(@talk.user.profile.id), class: 'user_link' do %>
          <%= image_tag @talk.user.profile.image.url %>
        <% end %>
      </li>
      <li><%= @talk.user.name %> さん</li>
    </ul>
    <ul class="talk_box_right">
      <li><span><%= @talk.comments.size %></span> Comment</p></li>
      <li><%= @talk.created_at.strftime("%Y.%m.%d %H:%M") %></li>
    </ul>
  </div>
  <div class="talk_box_category clearfix">
    <% @talk.categories.each do |i| %>
    <ul>
      <li><%= i.name %></li>
    </ul>
    <% end %>
  </div>
  <div class="talk_box_show_content clearfix">
    <p><%= @talk.content %></p>
  </div>
</div>

<div class="comments_box clearfix">
  <h3>Comments</h3>
  <% unless @talk.complete.present? %>
    <%= link_to 'コメントする', new_talk_comment_path(@talk.id), class: 'btn_comment' %>
  <% end %>
  <% @comments.each do |c| %>
    <div class="user_comment">
      <div class="talk_box_main">
        <ul class="clearfix">
          <li>
            <%= link_to profile_path(c.user.profile.id), class: 'user_link' do %>
              <%= image_tag c.user.profile.image.url %>
            <% end %>
          </li>
          <li><%= c.user.name %> さん</li>
          <li><span><%= c.created_at.strftime("%Y.%m.%d %H:%M") %></span></li>
          <% if c.user.profile.working_company.present? %>
            <li class="font_ss">現在のお勤め先：<%= c.user.profile.working_company %></li>
          <% end %>
        </ul>
      </div>
      <div class="comment_content">
        <p><%= c.content %></p>
        <% if current_user.id == c.user_id %>
          <div class="dropdown">
            <button type="button" id="dropdown1" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">arrow_drop_down</i>編集
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown1">
              <li><%= link_to '編集', edit_talk_comment_path(@talk.id, c.id) %></li>
              <li><%= link_to '削除', talk_comment_path(@talk.id, c.id), method: :delete, data:{ confirm: "本当に削除しますか？"} %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>