<div class="talk_box_show">
  <h1><%= @talk.title %></h1>
  <ul class="talk_utility">
    <li><%= link_to t('view.talk_btn_edit'), edit_talk_path(@talk.id) %></li>
    <li><%= link_to t('view.btn_delete'), talk_path(@talk.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></li>
  </ul>
  <div class="talk_box_header">
    <p>
      <%= link_to talks_path do %>
        <img src="">ひこにゃん
      <% end %>
    </p>
    <ul>
      <li><span>0</span>コメント</p></li>
      <li>2019.8.10</li>
    </ul>
  </div>
  <p><%= @talk.content %></p>
  <% @talk.categories.each do |i| %>
  <ul>
    <li><%= i.name %></li>
  </ul>
  <% end %>
</div>

<div class="comments_box">
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, talk: @talk } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, talk: @talk } %>
</div>