<% content_for(:title, t('view.user_index')) %>
<div class="box">
  <table class="table">
    <tr>
      <td>id</td>
      <td>ユーザ名</td>
      <td>メールアドレス</td>
      <td>ユーザー権限</td>
      <td>編集</td>
    <tr>
    <% @users.each do |user| %>
      <tr class="<%= user.id %>">
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role_i18n %></td>
        <td> <%= link_to '編集', edit_user_path(user.id) %></td>
      </tr>
    <% end %>
  </table>
</div>