<!DOCTYPE html>
<html>
  <head>
    <title>GraduateApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header container-fluid">
      <h1>LOGO</h1>
      <ul>
        <li>新規アカウント登録</li>
        <li>ログイン</li>
      </ul>
    </div>
    <div class="wrapper container">
      <%= yield %>
    </div>
  </body>
</html>
