<!DOCTYPE html>
<html>
  <head>
    <title>GraduateApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <!-- Flash Messages -->
      <script>
        $( document ).ready(function() {
          // メッセージを３秒後にフェードアウトする
          $('#notice').fadeOut(3000);
      });
      </script>
      <!-- Flash Messages -->
      <% if notice %>
        <p id="notice" class="flash_m container-fluid notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p id="notice" class="flash_m container-fluid alert"><%= alert %></p>
      <% end %>

      <!-- Admin Nav -->
      <% if can? :update, current_user %>
        <div class="admin_nav container-fluid">
          <p>管理者メニュー：</p>
          <ul>
            <li><%= link_to t('view.category_index_h1'), categories_path %></li>
            <li><%= link_to t('view.user_index'), users_path %></li>
          </ul>
        </div>
      <% end %>

      <!-- Header -->
      <div class="header container-fluid clearfix">
        <div class="logo"><%= link_to 'Talk With', root_path %></div>
        <% if user_signed_in? %>
          <ul class="global_nav">
            <li><%= link_to t('view.talk_index_h1'), talks_path %></li>
            <li><%= link_to t('view.talk_new'), new_talk_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'user_logout' %></li>
            <% current_user_profile = Profile.find_by(user_id: current_user.id) %>
            <% unless current_user_profile.nil? %>
              <li><%= link_to t('view.user_mypage'), profile_path(current_user.profile.id) %></li>
            <% end %>
          </ul>
        <% else %>
          <ul class="global_nav">
            <li><%= link_to t('view.user_new'), new_user_registration_path %></li>
            <li><%= link_to t('view.user_login'), new_user_session_path %></li>
          </ul>
        <% end %>
      </div>

      <!-- Main Visual -->
      <% if check_page('talks', 'top') %>
        <div class="main_visual">
          <div class="main_catch_area">
            <h1><%= image_tag 'main_catch.png' %></h1>
            <p>育児と働くことの両立は<br />
              大変なもの。<br />
              ひとりで考えすぎないで、<br />
              たくさんの先輩や<br />
              同じ立場の仲間に相談しよう。</p>
          </div>
        </div>
        <div class="start_now">
          <h2>子育てのことも<br />
          仕事のことも相談できる</h2>
          <p>子どもが熱を出したとき、<br />
          急にお迎えが必要になったとき。<br />
          あなたのお勤め先は、育児に対して寛容ですか。<br />
          <br />
          みんなの職場環境について聞いたり、<br />
          企業の"中の人"に、実際の職場環境について聞くこともできます。<br />
          （この機能は開発中です。）</p>
          <p class="btn_start_now"><%= link_to t('view.top_new'), new_user_registration_path %></p>
        </div>
      <% end %>

      <!-- h1 -->
      <% unless check_page('talks', 'top') or check_page('talks', 'show') %>
        <div class="h1_background">
          <h1 class="container"><%= yield(:title) %></h1>
        </div>
      <% end %>

      <!-- Main Contents -->
      <div class="columns_wrapper container">
        <% if check_page('talks', 'index') %>
          <div class="main_column col-md-9">
            <%= yield %>
          </div>
          <div class="main_column col-md-3">
            <h2>これは見出しです。</h2>
            <p>ここにリストが入ります。（ゆくゆくはここに企業名が入ります。）</p>
          </div>
        <% elsif check_page('talks', 'top') %>
          <div class="main_column col-md-10 col-md-offset-1">
            <h2 class="top_title_h2"><%= t('view.top_h2_index') %></h2>
            <%= yield %>
            <p class="btn_top_index"><%= link_to t('view.top_to_index'), talks_path %></p>
          </div>
        <% else %>
          <div class="main_column col-md-10 col-md-offset-1">
            <div class="one_column">
              <%= yield %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Footer -->
      <div class="footer">
        <p>©2019 Talk With</p>
      </div>

    </div><!-- wrapper_end -->

  </body>
</html>
