<!DOCTYPE html>
<html>
  <head>
    <title>GraduateApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header container-fluid">
      <h1>LOGO</h1>

      <% if user_signed_in? %>
        <ul>
          <li><%= link_to t('view.talk_index_h1'), talks_path %></li>
          <li><%= link_to t('view.user_mypage'), talks_path %></li>
          <li><%= link_to t('view.talk_new'), new_talk_path %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        </ul>
        <ul>
          <li><%= link_to t('view.category_index_h1'), categories_path %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to t('view.user_new'), new_user_registration_path %></li>
          <li><%= link_to t('view.user_login'), new_user_session_path %></li>
        </ul>
      <% end %>

      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>

    </div>
    <div class="wrapper container">
      <%= yield %>
    </div>
  </body>
</html>
