<!DOCTYPE html>
<html>
  <head>
    <title>GraduateApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">

      <!-- Flash Messages -->
      <% if notice %>
        <p class="flash_m container-fluid notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="flash_m container-fluid alert"><%= alert %></p>
      <% end %>

      <!-- Admin Nav -->
      <% if user_signed_in? %><!-- user role ができたら処理変更 -->
        <div class="admin_nav container-fluid">
          <p>管理者メニュー：</p>
          <ul>
            <li><%= link_to t('view.category_index_h1'), new_talk_path %></li>
          </ul>
        </div>
      <% end %>

      <!-- Header -->
      <div class="header container-fluid clearfix">
        <div class="logo"><%= link_to 'Talk With', root_path %></div>
        <% if user_signed_in? %>
          <ul class="global_nav">
            <li><%= link_to t('view.talk_index_h1'), talks_path %></li>
            <li><%= link_to t('view.talk_new'), new_talk_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% current_user_profile = Profile.find_by(user_id: current_user.id) %>
            <% unless current_user_profile.nil? %>
              <li><%= link_to t('view.user_mypage'), profile_path(current_user.profile.id) %></li>
            <% end %>
          </ul>
        <% else %>
          <ul class="global_nav">
            <li><%= link_to t('view.user_new'), new_user_registration_path %></li>
            <li><%= link_to t('view.user_login'), new_user_session_path %></li>
          </ul>
        <% end %>
      </div>

      <!-- Main Visual -->
      <% if check_page('talks', 'top') %>
        <div class="main_visual">
          <h1>お悩み</h1>
          <p>ああああああああああああああああああああ</p>
        </div>
      <% end %>

      <!-- Main Contents -->
      <div class="columns_wrapper container">
        <% if check_page('talks', 'index') or check_page('talks', 'top') %>
          <div class="main_column col-md-9">
            <%= yield %>
          </div>
          <div class="main_column col-md-3">
            <h2>これは見出しです。</h2>
            <p>ここにリストが入ります。</p>
          </div>
        <% else %>
          <div class="main_column col-md-10 col-md-offset-1">
            <%= yield %>
          </div>
        <% end %>
      </div>

      <!-- Footer -->
      <div class="footer">
        <p>©2019 Talk With</p>
      </div>

    </div><!-- wrapper_end -->

  </body>
</html>
